.block{
	background-color: $green;
	padding: 50px;
	border: solid $white 5px;
	text-align: center;
	p:last-of-type, h3:last-of-type{
		margin-bottom: 0;		
	}
}


//name block
.name{
	margin: 0 0 6px 0;
}
.title{
	font-size: em(24px);
}

//my work
.icon-group{
	height: 50px;
	margin: 0 0 20px 0;
}
.icon-heart, .icon-page{
	max-height: 100%;
	margin: 0 8px;
}

.icon-heart{
	width: 50px;
}

.icon-page{
	width: 57px;
}

//social block
.social-links{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin: 30px 0 0 0;
	text-indent: -9999px;
}

.codepen{
	background: url(/i/codepen.svg) no-repeat;
	height:33px;
	width:33px;
	display: block;
}

.twitter{
	background: url(/i/twitter.svg) no-repeat;
	height:33px;
	width:33px;
	display: block;
}

.github{
	background: url(/i/github.svg) no-repeat;
	height:33px;
	width:33px;
	display: block;
}

.mail{
	background: url(/i/mail.svg) no-repeat;
	height:33px;
	width:33px;
	display: block;
}