
@keyframes slideInRight {
  from {
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideOutRight {
  from {
  	transform: translate3d(0, 0, 0);
  }

  to {
    transform: translate3d(77%, 0, 0);
    visibility: visible;
  }
}

.block.flip .cp-link{
  right: 0px;
  animation: slideOutRight .2s linear both;
}

.block .cp-link{
	position: absolute;
	bottom: 15px;
	right: -140px;
	z-index: 5;
  opacity: .3;
	transition: all .2s ease;
  a{
    color: $light-gray;
  }
}

.cp-icon{
	height: 33px;
	margin-right: 20px;
	vertical-align: middle;
}

.block:hover .cp-link{
  right: 30px;
  animation: slideInRight .2s linear both;
  opacity: 1;
  a{
    color: $white;
  }
}