// breakpoints
$three-two-col:			1096px;
$two-one-col:			700px;
$typo-change:			375px;

$work-page:				900px;

//media queries
$three-columns:			new-breakpoint(min-width $three-two-col);
$two-columns:			new-breakpoint(max-width ($three-two-col)-1 min-width $two-one-col);
$one-column:			new-breakpoint(max-width ($two-one-col)-1);

$full-text:				new-breakpoint(min-width ($typo-change)+1);
$shrink-text:			new-breakpoint(max-width $typo-change);

$two-work:				new-breakpoint(min-width $work-page);