// Breakpoints
$medium-screen: 600px;
$large-screen: 900px;

// Typography
// $base-font-family: $font-stack-system;
$raleway: 'Raleway', sans-serif;

$base-font-family: $raleway;
$heading-font-family: $base-font-family;

//font weight
$light: 300;
$medium: 400;
$heavy: 800;

// Font Sizes
$base-font-size: 1em;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$green: #363f3c;
$dark-green: #2c3330;

$white: #fff;
$light-gray: #c9d6cd;
$medium-gray: #9da39f;

$mint: #85c79f;
$coral: #fc536c;
$peach: #e7937a;
$yellow: #ebe39e;

// Font Colors
$base-font-color: $light-gray;
$action-color: $mint;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: #fff;
$secondary-background-color: tint($base-border-color, 75%);

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Animations
$base-duration: 150ms;
$base-timing: ease;
